* {
    font-family: 'Typewriter', monospace;
}

button {
    border: solid 3px black;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.tabs{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.hidden{
    display:none !important;
}

.tab{
    padding-right: 0.1em;
    padding-left: 0.1em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-style: solid;
    border-width: 0.1em;
    margin:0.25em;
    border-radius: 0.5em;
    font-size: 2em;
}

.maintab:hover{
    background-color: black;
    color: white;
    border-color: black;
}

.prestigetab{
    border-color: blue;
    color: blue;
    background-color: black;
}

.prestigetab:hover{
    border-color: blue;
    color: white;
    background-color: blue;
}

.infinitytab{
    border-color: orangered;
    color: orangered;
    background-color: black;
}

.infinitytab:hover{
    border-color: orangered;
    color: white;
    background-color: orangered;
}

.layerstab{
    border-color:rgb(255, 4, 255);
    color: rgb(255, 4, 255);
    background-color: black;
}

.layerstab:hover{
    border-color: rgb(255, 4, 255);
    color: white;
    background-color: rgb(255, 4, 255);
}

.metatab{
    border-color: lime;
    color: lime;
    background-color: black;
}

.metatab:hover{
    border-color: lime;
    color: black;
    background-color: lime;
}

.ultimacytab{
    border-color: red;
    color: red;
    background-color: black;
}

.ultimacytab:hover{
    border-color: red;
    color: white;
    background-color: red;
}

.deathtab{
    border-color: gray;
    color: white;
    background-color: black;
}

.deathtab:hover{
    border-color: gray;
    color: white;
    background-color: gray;
}

.existencetab{
    border-color: cyan;
    color: cyan;
    background-color: black;
}

.existencetab:hover{
    border-color: cyan;
    color: black;
    background-color: cyan;
}

.maintext{
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.numberDisplay{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.waveamount{
    display: flex;
    justify-content: center;
    font-size: 1.75em;
}

.wavepurchase{
    font-size: 1.5em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-style: solid;
    margin:auto;
    border-radius: 0.2em;
}

.wavepurchase:hover{
    background-color: black;
    color: white;
}

.wavepurchasetext{
    display: flex;
    justify-content: center;
}

.wavecosttext{
    display: flex;
    justify-content: center;
}

.upgrade {
    width: 320px;
    min-height: 150px;
    background-color: lightgray;
    cursor: default;
}
.upgrade.can {
    background-color: white;
    cursor: pointer;
}
